@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /*==== Navbar Design ====*/
  .navbar {
    @apply w-full bg-[#1C2B35] fixed top-0 left-0 z-50;
  }

  .nav {
    @apply max-w-screen-xl h-16 mx-auto flex justify-between items-center px-4 xl:px-0;
  }

  .nav__menu {
    @apply hidden sm:block absolute sm:static w-56 sm:w-max top-16 sm:top-auto right-2 sm:right-0 p-4 sm:p-0 rounded sm:rounded-none bg-gray-700 sm:bg-inherit z-10;
  }

  .nav__list {
    @apply block sm:flex sm:space-x-6 space-y-2 sm:space-y-0;
  }

  .nav__link {
    @apply text-gray-300 block border sm:border-0 border-gray-600 rounded-md p-2 sm:text-white text-base tracking-tight;
  }

  .nav__toggle {
    @apply block sm:hidden;
  }

  .nav__toggle-icon {
    @apply text-3xl text-white cursor-pointer;
  }

  /*==== Home Section Design ====*/
  .home {
    @apply py-28 max-w-screen-xl mx-auto grid sm:grid-cols-2 items-center px-4 xl:px-0;
  }

  .home__info {
    @apply mt-12 sm:mt-0 order-2 sm:order-1;
  }

  .home__discount {
    @apply block text-base text-[#FF9900] mb-4 sm:mb-[60px];
  }

  .home__title {
    @apply text-[2.5rem] md:text-[2.8rem] lg:text-[3.4rem] text-[#1C2B35] font-bold leading-tight;
  }

  .home__subtitle {
    @apply text-xl md:text-2xl font-normal block;
  }

  .home__btn {
    @apply mb-4 sm:mb-0 mt-10 sm:mt-[70px] py-2 px-6 bg-[#FF9900] rounded uppercase;
  }

  .home__img-container {
    @apply justify-self-center order-1 sm:order-2;
  }

  /*==== Shopping Cart Design ====*/
  .shop {
    @apply w-full relative;
  }

  .products {
    @apply max-w-screen-xl pt-24 mx-auto px-4 xl:px-0 grid grid-cols-[1fr_230px];
  }

  .product__container {
    @apply grid gap-y-8;
  }

  .product {
    @apply w-[18.75rem] h-[31.75rem] border border-[#95A0A7] rounded-lg p-2 relative bg-white;
  }

  .product__img {
    @apply rounded-lg;
  }

  .product__info {
    @apply mt-3 px-2;
  }

  .product__title {
    @apply text-[#0E161A] text-xl lowercase first-letter:uppercase font-semibold;
  }

  .product__price {
    @apply text-[#0E161A] text-base;
  }

  .product__user-info {
    @apply absolute bottom-16 space-y-2 px-2;
  }

  .product__user-info p {
    @apply text-[#2A414F] text-xs;
  }

  .product__btn {
    @apply w-full flex items-center justify-center h-12 rounded-b-lg bg-[#FFE0B3] absolute bottom-0 left-0 space-x-2;
  }

  .product__icon {
    @apply text-xl;
  }

  .cart-info {
    @apply fixed top-16 p-6 right-0 bg-[#FF9900] bg-opacity-30 h-screen;
  }

  .cart__summery {
    @apply text-2xl text-[#1C2B35] text-center;
  }

  .card__description {
    @apply mt-8 space-y-3;
  }

  .cart__grand-total {
    @apply text-xl text-[#0E161A] mt-6;
  }

  .cart__buttons {
    @apply mt-12 space-y-3;
  }

  .cart__btn {
    @apply w-full h-12 flex items-center justify-center space-x-2 text-base rounded;
  }

  .cart__btn--danger {
    @apply bg-[#FF3030] text-white;
  }

  .cart__btn--yellow {
    @apply bg-[#FF9900] text-white;
  }

  .cart__btn-icon {
    @apply text-xl;
  }

  /* Order Review Section */
  .order-review {
    @apply max-w-screen-lg w-full px-4 xl:px-0 mt-24 mx-auto grid gap-12 mb-8 md:grid-cols-2 lg:gap-16;
  }

  .order-review__items {
    @apply grid gap-4;
  }

  .order-review__item {
    @apply border rounded-md p-2 flex justify-between items-center md:h-20 lg:h-min lg:pr-3;
  }

  .order-review__item-info {
    @apply flex space-x-3;
  }

  .order-review__img {
    @apply w-16 h-16 rounded-md lg:w-20 lg:h-20;
  }

  .order-review__name {
    @apply text-base lowercase first-letter:uppercase lg:text-xl;
  }

  .order-review__price,
  .order-review__shipping {
    @apply text-xs lg:text-sm;
  }

  .order-review__price {
    @apply flex items-center space-x-2;
  }

  .order-review__quantity {
    @apply flex items-center;
  }

  .order-review__item-delete-btn {
    @apply w-10 h-10 flex items-center justify-center bg-[#EB5757]/30 rounded-full outline-none cursor-pointer;
  }

  .order-review__icon {
    @apply text-base text-[#EB5757] lg:text-[1.125rem];
  }

  .order-review__cart {
    @apply bg-[#FF9900]/30 p-4 rounded-md md:max-h-[27rem] lg:w-[400px] lg:max-h-[29rem];
  }

  .order-review__cart .cart .card__description,
  .order-review__cart .cart .cart__summery,
  .order-review__cart .cart .cart__grand-total {
    @apply px-5;
  }

  .order-review__cart .cart .card__description .card__desc-single {
    @apply lg:text-[18px];
  }

  .order-review__cart .cart .cart__grand-total {
    @apply lg:text-xl;
  }

  .order-review__cart .cart .cart__summery {
    @apply text-left lg:text-3xl mt-3 text-[#1C2B35];
  }

  .order-review__cart .cart .cart__btn {
    @apply justify-between px-4;
  }

  /* Manage Inventory */
  .manage-inventory {
    @apply h-screen max-w-screen-lg grid place-items-center mx-auto;
  }

  .inventory__text {
    @apply text-5xl font-light text-[#2A414F] text-center;
  }

  /* Login section */
  /* Form Design */
  .form-container {
    @apply pt-32 pb-12;
  }

  .form {
    @apply max-w-sm w-full mx-auto px-8 py-10 rounded-lg justify-self-center;
  }

  .form__title {
    @apply text-center text-2xl text-[#2A414F] font-semibold mb-8;
  }

  .form__group {
    @apply mb-4;
  }

  .form__label {
    @apply text-base text-[#2A414F] block ml-2;
  }

  .form__input {
    @apply border border-[#2A414F]/70 w-full py-2 px-3 rounded-lg outline-none lg:py-3;
  }

  .form__button {
    @apply mt-5 w-full py-2 bg-[#FF9900]/30 rounded-lg text-[#0E161A] font-medium lg:py-3;
  }

  .form__login-register {
    @apply flex items-center mt-2 justify-center;
  }

  .form__loginRegister-demo {
    @apply text-[#2A414F] text-xs mr-1;
  }

  .form__loginRegister-text {
    @apply text-[#FF9900] text-xs cursor-pointer;
  }

  .form__divider {
    @apply my-6 text-center text-[#95A0A7] relative;
  }

  .form__google-btn {
    @apply border border-[#95A0A7] rounded-lg py-2 flex w-full justify-center relative cursor-pointer lg:py-3;
  }

  .form__google-btn-icon {
    @apply mr-1 text-2xl lg:top-[0.7rem] lg:text-[26px];
  }
}

@layer utilities {
  body {
    font-family: "Lato", sans-serif;
  }
  /*==== Navbar Design ====*/
  .nav__logo-img {
    width: 140px;
    height: 40px;
  }

  @media screen and (max-width: 639.98px) {
    .nav__menu::after {
      content: "";
      position: absolute;
      top: -5px;
      right: 13px;
      border: 14px solid;
      border-color: #374151;
      transform: rotate(45deg);
      z-index: -1;
    }
  }

  /*==== Home Section design ====*/
  .home__img {
    border-radius: 10px;
    box-shadow: -14px 14px 0 #ffe0b3;
  }

  /*==== Shop Section design ====*/
  .product__container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  @media screen and (min-width: 1023.98px) {
    .order-review {
      grid-template-columns: 1fr auto;
    }
  }

  /* Form Design */
  .form {
    box-shadow: -10px 10px 0 #FFE0B3;
    border: 1px solid #95A0A7;
  }

  .form__divider::before,
  .form__divider::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 40%;
    height: 1px;
    background: #95A0A7;
  }

  .form__divider::after{
    left: 60%;
  }
}
